[submodule "headlights"]
	path = headlights
	url = https://github.com/mbadran/headlights.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-distinguished"]
	path = vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-marked"]
	path = vim-marked
	url = https://github.com/itspriddle/vim-marked.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vimproc"]
	path = vimproc
	url = http://github.com/Shougo/vimproc
[submodule "vimshell.vim"]
	path = vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "vim-gnupg"]
	path = vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-abolish"]
	path = vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim-ansible-yaml"]
	path = vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "ansible-vim"]
	path = ansible-vim
	url = https://github.com/pearofducks/ansible-vim
